<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блокчейн и цифровые финансы</title>
    <!-- Подключение Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение статики -->
    {% load static %}
</head>
<body>

<!-- Включаем верхний navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="user-info">
            <span>{{ username }} </span>
        </div>
        <div class="coins">
            <span>🪙 {{ coin }} </span> <!-- Отображаем коины из базы данных -->
        </div>
    </div>
</nav>

<br />
<div class="container">
    <a href="/" class="btn btn-secondary mt-3"><i class="fas fa-arrow-left"></i> Назад к урокам</a>
</div>



<div class="container mt-5">
    <div class="content">
        <h1>Блокчейн и цифровые финансы</h1>
        <h2 class="text-primary">Награда: 500🪙</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="video-container mb-4">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-p2dRJoV10M?si=vyQgPESI7HF0y5At" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details">
                    <p>На первой лекции был объявлен старт курса, посвящённого блокчейн-технологиям. Занятия будут проходить на русском и английском языках, что позволит расширить аудиторию и повысить восприятие материала.</p>

                    <p>Основная часть лекции была посвящена различным аспектам блокчейна и цифровых финансов. Рассматривались такие темы, как история развития денег, переход от бумажных денег к кредитным картам и цифровым валютам. Обсуждались ключевые характеристики блокчейна, включая его безопасность, децентрализацию и протоколы, а также такие концепции, как Proof-of-Work и Proof-of-Stake.</p>

                    <p>Лекция затронула проблемы и перспективы регулирования криптовалют в Казахстане, необходимость подготовки специалистов для работы с цифровыми активами и судебной экспертизой.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<br />
<br />
<br />


<!-- Подключение скриптов Bootstrap и Font Awesome -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

<script>
    const params = new URLSearchParams(window.location.search);
    const telegram_id = params.get('telegram_id');

    if (telegram_id) {
        const tabs = document.querySelectorAll('a');
        tabs.forEach(tab => {
            const url = new URL(tab.href);
            url.searchParams.set('telegram_id', telegram_id);
            tab.href = url.toString();
        });
    }
</script>

</body>
</html>
