<div class="navbar">
    <div class="user-info">
        <span>{{ Profile.username }} </span>
    </div>
    <div class="coins">
        <span>🪙 {{ Profile.coin }} </span> <!-- Отображаем коины из базы данных -->
    </div>
</div>
<br />

<style>
    .navbar {
        position: fixed; /* Закрепляет навбар в верхней части страницы */
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* Увеличивает приоритет отображения над другими элементами */
        background-color: #f8f9fa; /* Цвет фона */
        padding: 15px; /* Внутренние отступы */
        border-radius: 0 0 15px 15px; /* Закругляем только нижние углы */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для навбара */
        display: flex; /* Для выравнивания элементов */
        justify-content: space-between; /* Элементы на разные стороны */
        align-items: center; /* Вертикальное выравнивание элементов */
        width: 90%; /* Ширина по всему экрану */
    }

    .user-info {
        font-size: 16px; /* Размер шрифта */
        color: #333; /* Цвет текста */
    }

    .coins {
        font-size: 16px;
        color: #333;
    }

    body {
        padding-top: 70px; /* Отступ, чтобы контент не перекрывался навбаром */
    }
</style>

<script>
        const params = new URLSearchParams(window.location.search);
    const telegram_id = params.get('telegram_id');

    if (telegram_id) {
        const tabs = document.querySelectorAll('a');
        tabs.forEach(tab => {
            const url = new URL(tab.href);
            url.searchParams.set('telegram_id', telegram_id);
            tab.href = url.toString();
        });
    }
</script>